* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}

.title-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logo {
  width: 3rem;
  height: 3rem;
}

.list-container {
  display: flex;
  list-style: none;
  gap: 1rem;
}

.list-container li a {
  text-decoration: none;
}

.rockets-nav {
  padding-right: 1rem;
}

.my-profile-nav {
  border-left: 1px solid #000;
  padding-left: 1rem;
}

hr {
  margin: 0 1.5rem;
}

.rocket-container {
  display: flex;
  margin: 2rem;
}

.rocket-img {
  display: block;
  width: 18rem;
}

.rocket-name,
.rocket-description {
  margin: 0 0 1rem 1rem;
  font-family: sans-serif;
}

.rocket-reserve-btn {
  margin-left: 1rem;
  background-color: #0290ff;
  color: #fff;
  box-shadow: 1px 1px 1px #000;
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.rocket-reserve-btn:hover {
  background-color: #0150ff;
}

.rocket-cancel-btn {
  margin-left: 1rem;
  background-color: #fff;
  color: gray;
  border: 1px solid #000;
  box-shadow: 1px 1px 1px;
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.rocket-cancel-btn:hover {
  background-color: #ddd;
}

.rocket-span {
  background-color: #00cbb9;
  color: #fff;
  border-radius: 6px;
  padding: 0.1rem 0.5rem;
  margin-right: 0.5rem;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
